.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.header a {
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
}

.header a:hover {
    text-decoration: underline;
}

.header_right{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.header_right > .MuiSvgIcon-root {
    margin-right: 20px;
}

.home_body {
text-align: center;
align-items: center;
 margin-top: 10%;
}



.home_body > img{
    object-fit: contain;
    height: 100px;
}



.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search_input > input {
    flex: 1;
    padding: 10px 20px;
    border: none;
}

.search_input > input:focus {
    outline-width: 0;
}

.search_icon{
    color: gray;
}

.search_btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search_btn button {
    margin: 5px;
    padding: 7px 15px;
    background-color: lightgray;
    border: 1px solid white;
    text-transform: inherit;
    color: gray;
}

.search_btn button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    color: #222;
}
