.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.header a {
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
}

.header a:hover {
    text-decoration: underline;
}

.header_right{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.header_right > .MuiSvgIcon-root {
    margin-right: 20px;
}

.home_body {
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}

.home_body > img {
    object-fit: contain;
    height: 100px;
}